on:
  workflow_dispatch:
  push:
    branches: master

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: macos-latest
    
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R packages
        run: |
           options(repos = "https://packagemanager.posit.co/cran/latest")
           options(
             HTTPUserAgent = sprintf("R/%s R (%s)",
               getRversion(),
               paste(getRversion(), R.version$platform, R.version$arch, R.version$os)
             )
           )
           install.packages(c(
             "dendextend", "fda", "janitor", "kableExtra", "nloptr", 
             "palmerpenguins", "patchwork", "remotes", "tidyverse",
             "fdacluster", "gt"
           ))
           remotes::install_github("lmjl-alea/squat")
           remotes::install_github("lmjl-alea/midi")
        shell: Rscript {0}

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
